 var status = {
  filterStatus: function(status){
    var status_txt = '';
    if(status == '0'){
      status_txt = '申请中';
    }else if(status == '1'){
      status_txt = '已同意';
    }else if(status == '2'){
      status_txt = '已拒绝';
    }
    return status_txt;
  },

  filterStatus1: function(status){
    var status_txt = '';
    if(status == '0'){
      status_txt = '申请中';
    }else if(status == '1'){
      status_txt = '正常';
    }else if(status == '2'){
      status_txt = '删除';
    }
    return status_txt;
  },

  filterRole: function(status){
    // 0 权益老板 1 县城老板 2 啤酒老板 3 餐馆老板 4 代理人 5 服务员 6 送酒员 7店员
    var status_txt = '';
    if(status == 0){
      status_txt = '权益老板'
    }else if(status == 1){
      status_txt = '县城老板'
    }else if(status == 2){
      status_txt = '啤酒老板'
    }else if(status == 3){
      status_txt = '餐馆老板'
    }else if(status == 4){
      status_txt = '代理人'
    }else if(status == 5){
      status_txt = '服务员'
    }else if(status == 6){
      status_txt = '送酒员'
    }else if(status == 7){
      status_txt = '店员'
    }else{
      status_txt = '消费者'
    }
    return status_txt;
  },

  deliveryStatus: function(status){
    var status_txt = '';
    if(status == 0){
      status_txt = '准备中';
    }else if(status == 1){
      status_txt = '配送中';
    }else if(status == 2){
      status_txt = '已签收';
    }else if(status == 3){
      status_txt = '已删除';
    }else if(status == 4){
      status_txt = '已拒绝';
    }else if(status == 5){
      status_txt = '取消配送';
    }
    return status_txt;
  }
 }

 module.exports = {
  filterStatus: status.filterStatus,
  filterStatus1: status.filterStatus1,
  filterRole: status.filterRole,
  deliveryStatus: status.deliveryStatus
 }